@model UserManagementWebApp.Models.User

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="createForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Sex)
                @Html.DropDownListFor(m => m.Sex, Model.Sexes, new { @class = "form-control" })
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script language="JavaScript" type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
<script language="JavaScript" type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script type="text/javascript">
    $().ready(() => {
        $("#createForm").validate({
            rules: {
                FirstName: {
                    required: true,
                    maxlength: 30,
                    minlength: 3
                },
                LastName: {
                    required: true,
                    maxlength: 30,
                    minlength: 3
                },
                BirthDate: {
                    required: true
                }
            },
            messages: {
                FirstName: {
                    required: "First name is required",
                    maxlength: "Too long",
                    minlength: "Too short"
                },
                LastName: {
                    required: "Last name is required",
                    maxlength: "Too long",
                    minlength: "Too short"
                },
                BirthDate: {
                    required: "Birth date is required"
                }
            }
        });
    });
</script>
