@model X.PagedList.IPagedList<UserManagementWebApp.Models.User>
@using X.PagedList;
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Index";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        wireHandlers();
    });

</script>

<h2>Index</h2>

<p>
    <a class="btn btn-success" asp-action="Create">Create New User</a>
</p>

<div id="tableContainer">
    @await Html.PartialAsync("IndexPartial")
</div>

<script type="text/javascript">
    function wireHandlers() {
        $('#pager').on('click', 'a', function () {
            $.ajax({
                url: this.href,
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#tableContainer').html(result);
                    wireHandlers();
                }
            });
            return false;
        });
    }
</script>
